@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 45%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 252 100% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 100% 61%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --active: 252 100% 84%;
    --active-link: 252 100% 96%;
    --shadow: 0px 0px 32px 0px;
    --radius: 0.5rem;
    /* Platform Colors */
    --github-color: 0 0% 9%;
    --frontendmentor-color: 227 45% 44%;
    --twitter-color: 203 89% 53%;
    --linkedin-color: 209 90% 40%;
    --youtube-color: 0 100% 50%;
    --facebook-color: 214 89% 52%;
    --twitch-color: 264 100% 64%;
    --devto-color: 0 0% 4%;
    --codewars-color: 9 70% 40%;
    --codepen-color: 0 0% 0%;
    --freecodecamp-color: 240 47% 7%;
    --gitlab-color: 21 97% 57%;
    --hashnode-color: 217 100% 58%;
    --stackoverflow-color: 27 91% 55%;
    --portfolio-color: 140 50% 55%;
    --others-color: 270 50% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    font-family: var(--font-ins-sans);
    @apply bg-background text-foreground;
  }
}

@layer components {
  .text {
    @apply text-base font-normal text-foreground;
  }
  .heading {
    @apply font-sans text-2xl font-bold leading-[36px] text-card-foreground sm:text-[32px] sm:leading-[48px];
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  overflow-x: hidden;
}

body[data-scroll-locked] {
  min-width: 100%;
}
